<app-menu></app-menu>
<div class="spinner" fxLayoutAlign="center center">
    <mat-spinner *ngIf="wait"></mat-spinner>
</div>
<div class="container">
    <div fxLayout="row" *ngIf="!wait">
        <div fxLayout="column" class="cards" fxFlex="60">
            <mat-card *ngFor="let item of pagedList" style="margin-top:10px;">
                <mat-card-header>
                    <mat-card-title>{{item.covid19}}</mat-card-title>
                    <mat-card-subtitle>{{item.edad}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="40">
            <div>Mujer</div>
            <div>Hombre</div>
        </div>
    </div>

    <mat-paginator [length]="length"
              [pageSize]="3"
              [pageSizeOptions]="[3, 6, 9]"
              (page)="onPageChange($event)">
    </mat-paginator>
</div>